.events {
    padding: 3em 0;
}
.events span {
    width: 100%;
    height: 1px;
    background-color: #6B7276;
    display: block;
    margin-top: 1em;
    opacity: 40%;
}
.events__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.events__title h1 {
    color: #6B7276;
    font-size: 45px;
}
.events__title button {
    color: #6B7276;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding: 20px 40px 23px 40px;
    border: solid 1px #6B7276;
    border-radius: 40px;
    cursor: pointer;
}

.events__item {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.events__item_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.events__item_title  h2 {
    color: #6B7276;
    font-size: 45px;
    font-weight: 300;
}
.events__item_title p {
    color: #6B7276;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.events__item_title button {
    color: #6B7276;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding: 20px 40px 23px 40px;
    border: solid 1px #6B7276;
    border-radius: 40px;
    cursor: pointer;
    background-color: #FCFCFC;
}
#events_btn_active {
    background-color: #B0BFD0;
    color: #FCFCFC;
    border: 1px solid #CFC3B9;
}
#events_btn_active:hover {
    background-color: #8797A0;
    border: 1px solid #CFC3B9;
}
.events__item_pic img {
    width: 700px;
    height: 350px;
}

@media screen and (max-width: 1200px) {
    .events__item_pic img {
        width: 500px;
    }
    .events__title h1 {
        font-size: 35px;
    }
    .events__item_title h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .events__item_pic img {
        height: 150px;
        width: 400px;
    }
    .events__item_title button {
        padding: 10px 20px;
        font-size: 14px;
    }
    .events__title button {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .events__item {
        flex-direction: column;
    }
    .events__item_pic img {
        width: 320px;
    }
    .events span {
        display: none;
    }
    .events__title {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}